NODE_ENV=development
NODE_VERSION=24.18.0

ORIGINS=#http://localhost:3032

DATABASE_URL=#postgresql://postgres:postgres@127.0.0.1:54322/postgres

SUPABASE_URL=#http://127.0.0.1:54321
SUPABASE_PUBLISHABLE_KEY=#sb_publishable_ACJ...
SUPABASE_SECRET_KEY=#sb_secret_N7U...
SUPABASE_JWKS_URL=#http://localhost:54321/auth/v1/.well-known/jwks.json